DATABASE_URL="postgresql://postgres.hsbkiumstqdfogpbcmxd:chldulwjd07511@aws-0-eu-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.hsbkiumstqdfogpbcmxd:chldulwjd07511@aws-0-eu-west-1.pooler.supabase.com:5432/postgres"
PORT=3006
NODE_ENV=development
USE_DEMO_MODE=false
SKIP_DB_BOOTSTRAP=true
SKIP_DB_BOOTSTRAP=false
FRONTEND_URL="https://your-app.vercel.app"
API_URL="http://localhost:3006"
